<div class="matriz">
    <div class="cell" data-index="0">
        <img src="{{imgX}}" class="cell__content">
    </div>
    <div class="cell" data-index="1">
        <img src="{{imgO}}" class="cell__content">
    </div>
    <div class="cell" data-index="2">
        <img src="{{imgX}}" class="cell__content">
    </div>
    <div class="cell" data-index="3">
        <img src="{{imgO}}" class="cell__content">
    </div>
    <div class="cell" data-index="4">
        <img src="{{imgX}}" class="cell__content">
    </div>
    <div class="cell" data-index="5">
        <img src="{{imgO}}" class="cell__content">
    </div>
    <div class="cell" data-index="6">
        <img src="{{imgX}}" class="cell__content">
    </div>
    <div class="cell" data-index="7">
        <img src="{{imgO}}" class="cell__content">
    </div>
    <div class="cell" data-index="8">
        <img src="{{imgX}}" class="cell__content">
    </div>
</div>